.pagination-container {
    margin-top: 20px;
}

.pagination-container ul.pagination {
    list-style:none;
    margin: 0;
    padding: 0;
}

.pagination-container ul.pagination li {
    width: 100px;
    height: 100px;
    background: #f2f2f2;
    margin: 10px;
    margin-left: 0px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
}

.pagination-container ul.pagination + ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

.pagination-container ul.pagination + ul li {
    width: 20px;
    height: 25px;
    line-height: 25px;
    background: #f2f2f2;
    margin: 10px;
    margin-left: 0px;
    text-align: center;
    display: inline-block;
}
.pagination-container ul.pagination + ul li.active {
    background: #ccc;
}



.clear {
    clear: both;
}